<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes' />
        <!--<link rel='icon' type='image/png' sizes='16x16' href='static/images/logo.png'>-->
        <link href='https://fonts.googleapis.com/css?family=Mukta+Mahee:200,400,700' rel='stylesheet'>
        <link rel='stylesheet' type='text/css' href='./static/css/astro.css'>
        <script type='text/javascript' src='./static/js/astro.js'></script>

        <title>T.O.A.D.</title>
    </head>
    <body>
        <div class='topbar'>
            <div class='title'>
                <h1>Thacher Observatory Astronomical Database</h1>
            </div>
            <div class='menu'>
                <ol>
                    <li>
                        <h3><a href="/image_query">Image Query</a></h3>
                        <div class='description_container'>
                            <p><b>Image Query</b>: Conduct an in-depth search of the entire Thacher Astronomy Image Archives based on numerous parameters.</p>
                        </div>
                    </li>
                    <li>
                        <h3 ><a href="/bodies">View all Bodies</a></h3>
                        <div class='description_container'>
                            <p><b>All Bodies</b>: View a list of all of the bodies that Thacher Observatory has observed. From here, you can browse specific bodies.</p>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/body">View a Body</a></h3>
                        <div class='description_container'>
                            <p><b>One Body</b>: View information on the observations of a single body conducted by the Thacher Observatory.</p>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/nights">View all Nights</a></h3>
                        <div class='description_container'>
                            <p><b>All Nights</b>: View a summary list of all of the nights of observations at the Thacher Observatory . From here, you can browse specific nights.</p>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/night">View a Night</a></h3>
                        <div class='description_container'>
                            <p><b>One Night</b>: View a list of a given night of observations conducted at the Thacher Observatory. This list will give you all necessary information to locate the desired documents from the Archives.</p>
                        </div>
                    </li>
                    <li>
                        <h3><a href="/observatory_stats">Observatory Statistics</a></h3>
                        <div class='description_container'>
                            <p><b>Observatory Stats</b>: This page provides a comprehensive list of statistics of Thacher Observatoryquot&;s observations.</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="head">
            <h2>One Body</h2>
        </div>

    </body>
</html>
